.cal{
  width: 320px;
  margin: 100px auto;
}

#answer{
  background-color: #e3e3e3;
  padding: 10px;
  font-size: 35px;
  width: 295px;
  height: 45px;
  text-align: right;
  border: 3px solid #333;
}

.button{
  background: #333;
  height: 80px;
  width: 80px;
  color: #fff;
  font-size: 30px;
  border: .5px solid black;
  float: left;
}

body{
  background: #12c2e9;
  background: -webkit-linear-gradient(
    to right, #f64f69, #c471ed, #12c2e9
  );
  background: linear-gradient(to right, #f64f69, #c471ed, #12c2e9);
}


.button1{
  width: 160px;
}